@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Hanalei+Fill&display=swap');

:root {
    --background-color: #000000;
    --color: #000000;
    --light-theme: #ffffff;
    --cor1: rgb(48, 48, 48);
    --cor2: rgb(51, 65, 85);
    --cor3: rgb(140, 145, 192);
    --cor4: rgba(0, 0, 0, 0.555);
    --cor5: rgb(104, 104, 104);

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bakbak One', cursive;
}

header {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: var(--cor1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 2;
}

.cab-info {
    margin: 2vh;
    display: flex;
    align-items: center;
    font-family: 'Hanalei Fill', cursive;
    position: absolute;
    color: white;

}

#img-cab {
    width: 40px;
}

.user-info {
    position: absolute;
    margin: 2vh;
    left: 94vw;
    display: flex;
    align-items: center;
}

#user-nick {
    right: 4vw;
    position: absolute;
    color: white;
}

#user-img {
    width: 40px;
}
.cab-post{
}

nav {}

.modal-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 8vh;
    position: fixed;
    background-color: var(--cor1);
    width: 15vw;
    height: 92vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 2;
}
.risco{
    margin: 10px;
    width: 11vw;
    border: 1px solid #979797;
}
.cat-fav{
    display: flex;
    font-size: 20px;
}
.cat-fav img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    
}
.categoria{
    margin-top: 5px;
    width: 200px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--cor2);
    cursor: pointer;
}
.categoria:hover{
    transition: 0.5s;
    background-color: var(--cor5);
}

.cont {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 15vw;
    top: 8vh;
    display: flex;
    align-items: center;
    width: 85vw;
}

.post {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 30px;
    border-radius: 2px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.post:hover{
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.411) 0px 2px 4px 0px, rgba(0, 0, 0, 0.26) 0px 2px 16px 0px;
}
#denuncia{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 10px;
}
.denuncia{
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor4);
    z-index: 2;
}
.modalDenuncia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 28vw;
    bottom: 10vh;
    position: absolute;
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    background-color: white;
}
#cancel2{
    margin: 20px;
    width: 100px;
    height: 40px;
}
/* ------------------------------------------------------------------- */


.novo-post-cont{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:var(--cor4);
    z-index: 2;

}
#Npost{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 28vw;
    bottom: 10vh;
    position: absolute;
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    background-color: white;
}
#novo_post{
    border: 1px solid #000000;
    background: #cccccc;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    width: 40vw;
    height: 20vh;
    font-size: 20px;
}
#postar{
    margin: 20px;
    width: 100px;
    height: 40px;
}
#cancel{
    margin: 20px;
    width: 100px;
    height: 40px;
}




/* ---------------------------------------------------------------------- */

#post-info-user {
    display: flex;
    align-items: center;
}

#post-user-img {
    width: 35px;
    margin-right: 2%;
}

#nick-user {}

#time {
    margin-left: 70%;
    color: var(--cor5);
}

#imagem-post {
    border-top: 1px solid;

    margin: 20px;
}

#coment {
    display: flex;
    width: 800px;
    margin: 20px;
}



#img-p {
    margin-top: 3%;
    max-width: 500px;
}

#comentario-user {
    width: 700px;
}

#plus {
    display: flex;
    border-top: 1px solid;
    justify-content: space-between;
}

#info-like {
    margin: 20px;
    display: flex;
    align-items: center; 
}

#like {
    width: 30px;
}
#info-resp{
    margin: 20px;
    display: flex;
    align-items: center; 
    
}

/* -----------------------------------------respostas */
.respostas{
    border-top: 1px solid;  
    display: none;
    flex-direction: column;
}

#r-info{
    display: flex;
    align-items: center;
}

#r-user{
    width: 35px;
    margin: 10px;
}
#r-time{
    margin-left: 28vw;
    color: var(--cor5);
}
#resp{
    
}
#c-resp{
    width: 700px;
    margin: 20px;
}
/* ------------------------------------------------------------- */


.modal {
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
}

.modalFull {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.info {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.208);
    transition: 5s;
}

.mor {
    width: 60vw;
    height: 80vh;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#x {
    width: 20px;
    margin: 10px;
}
















::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--cor1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}




#novo-post{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    width: 1px;
    height: 3vh;
    margin-top: 2vh;
    margin-left: 80vw;
    padding: 20px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(81, 144, 192);
    cursor: pointer;
    border-radius: 50px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  #novo-post:hover{
    transition: 0.8s;
    width: 8vw;
  }
  
  #novo-post:before {
    content: "";
    background: linear-gradient(
      45deg,
      #086bd4,
      #a5eee3,
      #cffff3,
      #38e9c5,
      #00ffd5,
      #002bff,
      #3545f7,
      #3f82ed,
      #020676
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(51, 65, 85);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  #btn:hover{
    transition: 0.3s;
    width: 9.5vw;
    height: 5.5vh;
  }
  #f-cad{
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    bottom: 21vh;
  }
  #f-cad:hover{
    transition: 0.4s;
      color: #4fb9e4;
  }