@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Creepster&family=Fira+Sans:wght@500&display=swap');
:root{
    --background-color: #000000;
    --color: #000000;
    --light-theme: #ffffff;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Creepster', cursive;
    background-color: rgb(48, 48, 48);
    width: 100vw;
    height: 100vh;
}
main{
    display: flex;
}
.cont-1{
    margin-top: 10vh;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.cont-1 img{
    width: 150px;
    left: 25vw;
    bottom: 60vh;
}
#titulo{
    color: white;
    font-size: 90px;
}
#subTitulo{
    margin-top: 50px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    font-size: 45px;
}


.cont-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;

}
.modal-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s;
    width: 25vw;
    height: 60vh;
    background-color: rgb(51, 65, 85);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(140, 145, 192) 0px 3px 8px;
    font-size: 20px;
}
.modal-login img{
    width: 80px;
}
.modal-login input{
    margin-top: 1vh;
    width: 15vw;
    height: 3vh;
    background: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: none;
    color: white;
    border-color: white;
    border-radius: 2px;
    font-size: 20px;
}
.modal-login input:hover{
    
    transition: 1s;
    background: rgba(255, 255, 255, 0.692);
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: none;
    color: white;
}
.modal-login p{
    margin-top: 2vh;
    font-size: 20px;
    
}

.modal-login:hover{
    transition: 0.4s;
    box-shadow: rgb(140, 145, 192) 0px 6px 16px;
}

#credito{
    position: absolute;
    bottom: 5vh;
    left: 45vw;
    color: white;
}
#olho{
    margin: 0;
    margin-left: -25px;
    margin-bottom: -5px;
    width: 20px;
    cursor: pointer;
}


#btn{
	width: calc(4 * var(--width));
	height: calc(4 * var(--height));
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100vh;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 220px;
    height: 60px;
    
    background-color: var(--light-theme);
    cursor: pointer;
    font-size: 25px;
    color: var(--color);
    transition: all 0.3s;
    position: relative;
  
    text-align: center;
    overflow: hidden;
  
    border-radius: 5px;
    box-shadow: 0 6px 30px -10px rgba(#CCCCCC, 1);
    
    
  }
  .btn:hover {
    transform: translateX(5px) translateY(-7px);
  }
  
  .shop-now {
    position: relative;
    .santa-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -17px;
      right: -20px;
      transform: rotate(14deg);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .snowflake-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 5px;
  
    width: 100px;
    transform: scale(0.4);
    div {
      border-radius: 5px;
    }
    
    .snowflake-item {
      position: relative;
    }
  }
  
  .to-left {
    position: absolute;
    top: -4px;
    left: -35px;
    animation: swing 3s infinite;
    div {
      animation: flash 3s infinite;
    }
  }
  
  .to-right {
    position: absolute;
    top: -25px;
    right: -35px;
    animation: swing 2.5s infinite;
    div {
      animation: flash 2.5s infinite;
    }
  }
  
  .border-left {
    border-left: 4px solid #e6dada;
    
  }
  
  .border-right {
    border-right: 4px solid #e6dada;
  }
  
  .border-bottom {
    border-bottom: 4px solid #e6dada;
  }
  
  .border-top {
    border-top: 4px solid #e6dada;
  }
  
  .sub-items {
    height: 28px;
    width: 28px;
  }
  
  .m-w-15 {
    width: 15px;
  }
  
  .m-h-15 {
    height: 15px;
  }
  
  .r-270 {
    transform: rotate(270deg);
  }
  
  .r-180 {
    transform: rotate(180deg);
  }
  
  .r-90 {
    transform: rotate(90deg);
  }
  
  .pull-down {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  
  .pull-down-right {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  
  .pull-right {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  
  .pull-left {
    position: absolute;
    left: 5px;
    top: 5px;
  }
  
  .m-3 {
    margin: 3px;
  }
  
  @keyframes swing {
    50% {
      transform: rotateZ(10deg) scale(0.4);
    }
  }
  
  @keyframes flash {
    50% {
      border-color: #485563; 
    }
  }
  