@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Hanalei+Fill&display=swap');
:root {
  --background-color: #000000;
  --color: #000000;
  --light-theme: #ffffff;
  --cor1 :rgb(48, 48, 48);
  --cor2 :rgb(51, 65, 85);
  --cor3 :rgb(140, 145, 192);
  --cor4 :;
  --cor5 :;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bakbak One', cursive;
  background-color: var(--cor1);
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
}

.cont-1 {
  margin-top: 20vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.cont-1 img {
  width: 150px;
  left: 25vw;
  bottom: 60vh;
}

#titulo {
  font-family: 'Hanalei Fill', cursive;
  color: white;
  font-size: 90px;
  margin-left: 20px;
}

#subTitulo {
  margin-top: 50px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  color: white;
  font-size: 45px;
}
.sub-cont{
  display: flex;
}


.cont-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
}

.modal-login {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 1s;
  width: 25vw;
  height: 60vh;
  background-color: var(--cor2);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: var(--cor3) 0px 3px 8px;
  font-size: 20px;
}
#imagem-login{
  margin-top: 4vh;
  width: 60px;
}
#imagem-cad{
  margin-right: 10px;
  margin-top: 2vh;
  width: 40px;
  height: 40px;
  
}
.modal-cadastro{
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: 1s;
  width: 25vw;
  height: 60vh;
  background-color: var(--cor2);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: var(--cor3) 0px 3px 8px;
  font-size: 20px;
}
.modal-cadastro:hover{
  transition: 0.4s;
  box-shadow: var(--cor3) 0px 6px 16px;
}
#titulo-cadastro{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#voltar-login{
  position: absolute;
  left: 1vw;
  bottom: 55vh;
  width: 30px;
  cursor: pointer;
}
.inputs {
  margin-top: 1vh;
  width: 15vw;
  height: 3vh;
  background: transparent;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: none;
  color: white;
  border-color: white;
  border-radius: 2px;
  font-size: 20px;
}
#date{
  width: 150px;
  height: 25px;
  background-color: var(--cor3);
  border-radius: 5px;
  border: 0;
  margin: 20px;
  font-size: 15px;
}

.inputs:hover {

  transition: 1s;
  background: rgba(255, 255, 255, 0.692);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: none;
  color: rgb(0, 0, 0);
}

.modal-login p {
  margin-top: 2vh;
  font-size: 20px;

}
.titulo-2{
  margin-top: 3vh;
  font-size: 40px;
}

.modal-login:hover {
  transition: 0.4s;
  box-shadow: var(--cor3) 0px 6px 16px;
}

#credito {
  position: absolute;
  bottom: 5vh;
  left: 45vw;
  color: white;
}

.olho {
  margin: 0;
  margin-left: -35px;
  margin-bottom: -5px;
  width: 20px;
  cursor: pointer;
}
.olho1 {
  margin: 0;
  margin-left: -35px;
  margin-bottom: -5px;
  width: 20px;
  cursor: pointer;
}
.olho2 {
  margin: 0;
  margin-left: -35px;
  margin-bottom: -5px;
  width: 20px;
  cursor: pointer;
}

#btn{
  font-size: 20px;
  width: 9vw;
  height: 5vh;
  margin-top: 10vh;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(81, 144, 192);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #086bd4,
    #a5eee3,
    #cffff3,
    #38e9c5,
    #00ffd5,
    #002bff,
    #3545f7,
    #3f82ed,
    #020676
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(51, 65, 85);
  left: 0;
  top: 0;
  border-radius: 10px;
}
#btn:hover{
  transition: 0.3s;
  width: 9.5vw;
  height: 5.5vh;
}
#f-cad{
  position: absolute;
  font-size: 15px;
  cursor: pointer;
  bottom: 21vh;
}
#f-cad:hover{
  transition: 0.4s;
    color: #4fb9e4;
}